@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0043AD;
}
header{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
    
    
}

.logoInstaSenai{
    width: 30px;
    padding-left: 50px;
}

.hrMenu::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: 5px;
    width: 100%;
    margin-bottom: 360px;
    background-color: black;
}

/*----------HOME-------------*/
#homeBody{
    background-image: url(../img/background-maquina\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba( 0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
#sectionHomeBody{
    display: flex;
}
#aImgInsta{
    margin-right: 1340px;
}
.imgIcon{
    width: 40px;
}
#divMaeDivsIcons{
    display: flex;
    
    padding-left: 5%;
}
.divMenuClass{
    display: flex;
    flex-direction: column;
}
.divIconMenu{
    display: flex;
    align-items: center;
    padding-top: 20%;
    padding-left: 20px;
}
.divImgIcon{
    border: 2px solid #0043AD;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
}
.divP{
    border: 2px solid #0043AD;   
    border-radius: 20px;
    padding-right: 25px;

    background-color: white;

}
p{
    padding-left: 20%;

    color: black;

    font-family: 'Poppins', sans-serif;
    
}
#divHomeImg{
    margin-left: 20%;

}
.imgHome{
    width: 160px;

    padding: 20px;

    border-radius: 40px;
}

/*----------zigZag-----------*/

.sectionMaquina{
    display: flex;
    flex-direction: column;

    
    position: relative;
    padding: 10px;
    margin-top: 20px;
}

.imgMaquina{
    width: 130px;
    margin: 0 auto;
    margin-top: 20px;

    border-radius: 10px;

    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
 
}

.divMaquina{
    
    width: 480px;
    height: 480px;

    margin: 0 auto;
    margin-top: 30px;

    border: 2px solid #0043AD;
    border-radius: 20px;

    position: relative;
}

.videoMaquina{
    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------*/
