*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0043AD;
}
/*----------zigZag-----------*/
#headerZigZag{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
    
    
}

.hrMenu::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: 5px;
    width: 100%;
    margin-bottom: 360px;
    background-color: black;
}

#sectionZigZag{
    display: flex;
    flex-direction: column;

    
    position: relative;
    padding: 10px;
    margin-top: 20px;
}

#imgZigZag{
    width: 130px;
    margin: 0 auto;
    margin-top: 20px;

    border-radius: 10px;

    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
 
}

#divZigZag{
    
    width: 480px;
    height: 480px;

    margin: 0 auto;
    margin-top: 30px;

    border: 2px solid #0043AD;
    border-radius: 20px;

    position: relative;
}

#videoZigZag{
    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------*/